POSTGRESQL_HOST=
POSTGRESQL_USER=
POSTGRESQL_PASS=
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_SSL=
MAIL_HOST=
MAIL_USER=
MAIL_PASS=
API_CORS_ALLOWED_ORIGINS=
API_SECRET=

ASAAS_TOKEN=
ASAAS_URL=